.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  justify-items: center;

  padding: 1.5em;
  background-color: var(--Color2);
  color: white;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  box-shadow: 0px 2px 5px #22b455;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 1em;
  background-color: #204829;
  position: fixed;
  top: 5em;
  width: 29%;
  right: 0em;
}

.open {
  display: none;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

nav a:hover {
  background-color: #92e5a146;
  border: 1px solid #22b455;
}

input[type="checkbox"] {
  appearance: none;
  width: 80px;
  height: 30px;
  background-color: #0d3445;
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d5d5d5;
  border-radius: 50%;
  left: 5px;
  top: 5px;
  transition: 0.3s;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  color: #d5d5d5;
  font-size: 20px;
  left: 20px;
  top: 29px;
  transition: 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #ad1c1e;
}

input[type="checkbox"]:checked:before {
  background: #d5d5d5;
  left: 55px;
}

input[type="checkbox"]:checked:after {
  content: "";
  color: #fff;
  left: 85px;
}

input[type="checkbox"]:hover {
  box-shadow: 0px 0px 3px 2px #22b455;
  transition: 0.3s;
}

input[type="button"] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #204829;
  color: #22b455;
  position: absolute;
  cursor: pointer;
  top: 1.2em;
}

input[type="button"]:hover {
  box-shadow: 0px 0px 3px 2px #22b455;
  transition: 0.3s;
}

@media screen and (max-width: 500px) {
  input[type="checkbox"] {
    left: 2em;
  }

  nav {
    width: 7em;
    justify-content: left;
  }

  nav a {
    margin: 1em 0;
  }
}
