#Who p,
section {
  text-align: center;
}
#Who p,
h2 {
  padding: 0.5em;
}
#Who p,
.image p {
  font-weight: 700;
}
.cartaoFrontAngular,
.cartaoFrontCSS,
.cartaoFrontGH,
.cartaoFrontGit,
.cartaoFrontHTML,
.cartaoFrontJS,
.cartaoFrontJava,
.cartaoFrontNode {
  background-repeat: no-repeat;
  background-size: cover;
}
#Projects,
#img {
  padding-bottom: 5em;
}
.Container {
  height: 100%;
  margin: auto;
  background-color: var(--color-bg);
  position: relative;
}
.imgText,
h1,
p {
  color: var(--color-text);
  margin: auto;
}
h2,
h3 {
  color: #22b455;
}
section {
  padding: 0;
  margin: auto;
}
#Hello {
  text-align: left;
  padding: 23em 7em 11em;
}
h1 {
  font-size: 3em;
}
#Who {
  padding: 10em 7em 9em;
}
#Who p {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
}
#Who h2,
#img h2,
.Cards p {
  padding: 1em 0;
}
h2 {
  font-size: 2em;
}
img {
  height: 9em;
  padding: 1em;
}
#Projects h2,
.imgText {
  padding: 2em 0;
}
.image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#img {
  padding-top: 7em;
}
.image p {
  color: #fff;
}
.Cartao {
  transform-style: preserve-3d;
  transition: 1s;
  height: 7em;
  width: 7em;
  margin: 1em;
}
.Cartao:hover,
.cartaoBackAngular,
.cartaoBackCSS,
.cartaoBackGH,
.cartaoBackGit,
.cartaoBackHTML,
.cartaoBackJS,
.cartaoBackJava,
.cartaoBackNode {
  transform: rotateY(180deg);
}
.cartaoBackAngular,
.cartaoBackCSS,
.cartaoBackGH,
.cartaoBackGit,
.cartaoBackHTML,
.cartaoBackJS,
.cartaoBackJava,
.cartaoBackNode,
.cartaoFrontAngular,
.cartaoFrontCSS,
.cartaoFrontGH,
.cartaoFrontGit,
.cartaoFrontHTML,
.cartaoFrontJS,
.cartaoFrontJava,
.cartaoFrontNode {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}
#Projects,
.Cards {
  display: flex;
  text-align: center;
  margin: auto;
}
.cartaoFrontHTML {
  background-image: url("../../../assets/HTML-Logo.jpg");
}
.cartaoBackHTML {
  background-color: #f05d27;
  text-align: center;
  padding-top: 40%;
}
.cartaoFrontCSS {
  background-image: url("../../../assets/CSS-Logo.jpg");
}
.cartaoBackCSS {
  background-color: #2895ce;
  text-align: center;
  padding-top: 40%;
}
.cartaoFrontJS {
  background-image: url("../../../assets/JS-Logo.jpg");
}
.cartaoBackJS {
  background-color: #f7e018;
  text-align: center;
  padding-top: 40%;
}
.cartaoFrontNode {
  background-image: url("../../../assets/ND.jpg");
}
.cartaoBackNode {
  background-color: #90c53f;
  text-align: center;
  padding-top: 40%;
}
.cartaoFrontAngular {
  background-image: url("../../../assets/Angular-logo.jpg");
}
.cartaoBackAngular {
  background-color: #c3002f;
  text-align: center;
  padding-top: 40%;
}
.cartaoFrontJava {
  background-image: url("../../../assets/Java-logo.jpg");
}
.cartaoBackJava {
  background-color: #ec2025;
  text-align: center;
  padding-top: 40%;
}
.cartaoFrontGit {
  background-image: url("../../../assets/Git-logo.jpg");
}
.cartaoBackGit {
  background-color: #f05033;
  text-align: center;
  padding-top: 40%;
}
.cartaoFrontGH {
  background-image: url("../../../assets/GH.jpg");
}
.image__overlay--ASSINATURA,
.image__overlay--AVALIACAO,
.image__overlay--COMPRA,
.image__overlay--DEPOIMENTO,
.image__overlay--NFT,
.image__overlay--PERFIL,
.image__overlay--PLANO,
.image__overlay--QR {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.cartaoBackGH {
  background-color: #1a1e22;
  text-align: center;
  padding-top: 40%;
}
#Projects {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 5em;
}
.Cards {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.Cards a {
  text-decoration: none;
}
.image_card {
  position: relative;
  width: 24em;
  height: 15em;
  background-color: #80ce87;
  margin: 1em;
  box-shadow: 0 0 3px 2px #22b455;
}
.image_card h1 {
  padding-top: 2em;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.25s;
}
.image__overlay--QR {
  background-image: url("../../../assets/Projetos/QrCode.png");
  width: 100%;
  height: 100%;
}
.image__overlay--COMPRA {
  background-image: url("../../../assets/Projetos/compra.png");
  width: 100%;
  height: 100%;
}
.image__overlay--NFT {
  background-image: url("../../../assets/Projetos/nft.png");
  width: 100%;
  height: 100%;
}
.image__overlay--PLANO {
  background-image: url("../../../assets/Projetos/plano.png");
  width: 100%;
  height: 100%;
}
.image__overlay--ASSINATURA {
  background-image: url("../../../assets/Projetos/assinatura.png");
  width: 100%;
  height: 100%;
}
.image__overlay--DEPOIMENTO {
  background-image: url("../../../assets/Projetos/depoimentos.png");
  width: 100%;
  height: 100%;
}
.image__overlay--PERFIL {
  background-image: url("../../../assets/Projetos/perfil.png");
  width: 100%;
  height: 100%;
}
.image__overlay--AVALIACAO {
  background-image: url("../../../assets/Projetos/Avaliacao.png");
  width: 100%;
  height: 100%;
}
.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image__overlay:hover {
  opacity: 1;
}
.image__overlay:hover > * {
  transform: translateY(0);
}
#Contatos {
  padding: 1em 4em;
}
.img-zoom {
  transition: 0.3s;
}
.img-zoom:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
@media screen and (max-width: 500px) {
  .Cartao {
    width: 6em;
    height: 6em;
  }
  #img {
    padding-top: 6em;
  }
  #img h2 {
    padding: 0;
  }
  #Who {
    padding-top: 5em;
    padding-bottom: 0;
  }
  .image_card {
    width: 20em;
  }
}
