<main class="Container">
  <section id="Hello">
    <h3>Olá! Eu sou</h3>
    <h1>Jonathan Leandro</h1>
    <h3>Desenvolvedor Front End</h3>
  </section>
  <div id="QuemSou">
    <section id="Who">
      <h2>Quem Sou</h2>
      <div class="WhoText">
        <p>
          Graduado em Engenharia da Computação pela Universidade Anhembi
          Morumbi.
        </p>
        <p>
          Buscando trilhar o caminho do Desenvolvimento Web passei a estudar
          tecnologias voltadas ao Front End.
        </p>
        <br />
        <p>Possuo Conhecimento em: HTML 5, CSS 3, JavaScript</p>
        <p>Framework: Angular 13, Back-End: Java, Ferramenta: Git</p>
      </div>
    </section>
  </div>
  <div id="Habilidades">
    <section id="img">
      <h2>Habilidades</h2>
      <picture class="image">
        <div class="image">
          <div class="Cartao">
            <div class="cartaoFrontHTML"></div>
            <div class="cartaoBackHTML"><p>HTML 5</p></div>
          </div>
          <div class="Cartao">
            <div class="cartaoFrontCSS"></div>
            <div class="cartaoBackCSS"><p>CSS 3</p></div>
          </div>
        </div>
        <div class="image">
          <div class="Cartao">
            <div class="cartaoFrontJS"></div>
            <div class="cartaoBackJS"><p>JavaScript</p></div>
          </div>
          <div class="Cartao">
            <div class="cartaoFrontNode"></div>
            <div class="cartaoBackNode"><p>Node.JS</p></div>
          </div>
        </div>
      </picture>
      <h3>< - Passe o mouse em cima - ></h3>
      <picture class="image">
        <div class="image">
          <div class="Cartao">
            <div class="cartaoFrontAngular"></div>
            <div class="cartaoBackAngular"><p>Angular 13</p></div>
          </div>
          <div class="Cartao">
            <div class="cartaoFrontJava"></div>
            <div class="cartaoBackJava"><p>Java</p></div>
          </div>
        </div>
        <div class="image">
          <div class="Cartao">
            <div class="cartaoFrontGit"></div>
            <div class="cartaoBackGit"><p>Git</p></div>
          </div>
          <div class="Cartao">
            <div class="cartaoFrontGH"></div>
            <div class="cartaoBackGH"><p>GitHub</p></div>
          </div>
        </div>
      </picture>
    </section>
  </div>
  <div id="Projetos">
    <section id="Projects">
      <h2>Projetos</h2>
      <picture class="Cards">
        <a href="https://projeto-cartao-qr-code-f3pw.vercel.app" target="_blank"
          ><div class="image_card">
            <H1>QR CODE</H1>
            <p>Visitar</p>
            <div class="image__overlay image__overlay--QR"></div></div
        ></a>
        <a
          href="https://projeto-cartao-de-compra-1hg1.vercel.app"
          target="_blank"
          ><div class="image_card">
            <H1>COMPRA</H1>
            <p>Visitar</p>
            <div class="image__overlay image__overlay--COMPRA"></div></div
        ></a>
      </picture>
      <picture class="Cards">
        <a href="https://projeto-cartao-nft-yvdj.vercel.app/" target="_blank"
          ><div class="image_card">
            <H1>NFT</H1>
            <p>Visitar</p>
            <div class="image__overlay image__overlay--NFT"></div></div
        ></a>
        <a
          href="https://projeto-cartao-assinatura-de-plano-atcw.vercel.app"
          target="_blank"
          ><div class="image_card">
            <H1>PLANO</H1>
            <p>Visitar</p>
            <div class="image__overlay image__overlay--PLANO"></div></div
        ></a>
      </picture>
      <picture class="Cards">
        <a
          href="https://projeto-cartao-simples-de-assinatura-njyy.vercel.app"
          target="_blank"
          ><div class="image_card">
            <H1>ASSINATURA</H1>
            <p>Visitar</p>
            <div class="image__overlay image__overlay--ASSINATURA"></div></div
        ></a>
        <a
          href="https://projeto-cartoes-de-depoimentos-j7vq.vercel.app"
          target="_blank"
          ><div class="image_card">
            <H1>DEPOIMENTOS</H1>
            <p>Visitar</p>
            <div class="image__overlay image__overlay--DEPOIMENTO"></div></div
        ></a>
      </picture>
      <picture class="Cards">
        <a
          href="https://projeto-cartao-de-perfil-rzvk.vercel.app"
          target="_blank"
          ><div class="image_card">
            <H1>PERFIL</H1>
            <p>Visitar</p>
            <div class="image__overlay image__overlay--PERFIL"></div></div
        ></a>
        <a
          href="https://projeto-cartao-classificacao-y89s.vercel.app"
          target="_blank"
          ><div class="image_card">
            <H1>AVALIAÇÃO</H1>
            <p>Visitar</p>
            <div class="image__overlay image__overlay--AVALIACAO"></div></div
        ></a>
      </picture>
    </section>
  </div>
  <div id="Contatos">
    <section id="Contatos">
      <h2>Contatos</h2>
      <picture class="contato">
        <a
          href="https://br.linkedin.com/in/jonathan-leandro-433601204"
          target="_blank"
          ><img class="img-zoom" src="../../../assets/Contatos/link.png" alt=""
        /></a>
        <a href="https://github.com/jonathanleandro" target="_blank"
          ><img
            class="img-zoom"
            src="../../../assets/Contatos/github2.png"
            alt=""
        /></a>
        <a href="https://jonathanleandro.vercel.app" target="_blank"
          ><img class="img-zoom" src="../../../assets/Contatos/web.png" alt=""
        /></a>
      </picture>
    </section>
  </div>
</main>
